@model Employee

<div class="container">
    <h3>Сотрудник id: @Model.Id</h3>
    <br />
    <p>Фамилия: @Model.Surname</p>
    <p>Имя: @Model.FirstName</p>
    <p>Отчество: @Model.Patronymic</p>
    <p>Возраст: @Model.Age</p>
    <br />
    <p>Пол: @Model.Sex</p>
    <p>Родился: @Model.BirthdayDate.ToShortDateString()</p>
    <p>Нанят(а): @Model.HiredDate.ToShortDateString()</p>
    <hr />
    <a asp-controller="Employees" asp-action="Index">Назад к списку</a>
</div>
