@{ 
    ViewBag.Title = "Employees";
}

@model IEnumerable<Employee>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Отчество</th>
                    <th>Возраст</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.Surname</td>
                        <td>@item.Patronymic</td>
                        <td>@item.Age</td>

                        <td><a asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id">Инфо</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
